# Magento Ignored files

/.htaccess
/.htaccess.sample
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_EE.html
/LICENSE_EE.txt
/RELEASE_NOTES.txt
/app/.htaccess
/app/Mage.php
/app/code/community
/app/code/core/*
!/app/code/core/Xcom/
/app/code/local
/app/design/adminhtml/default/default/template/*
/app/design/adminhtml/default/default/layout/*
/app/design/adminhtml/default/default/locale/*
!/app/design/adminhtml/default/default/template/xcom
!/app/design/adminhtml/default/default/layout/xcom
/app/design/frontend/
/app/design/install/
/app/etc/config.xml
/app/etc/enterprise.xml
/app/etc/local.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/etc/modules/*
!/app/etc/modules/Xcom*
/app/locale/
/cron.php
/cron.sh
/downloader/
/errors/
/favicon.ico
/get.php
/includes/
/index.php
/index.php.sample
/install.php
/js/*
!/js/xcom
/lib/*
!/lib/avro.php
!/lib/avro
/mage
/media/
/php.ini.sample
/pkginfo/
/shell/
/skin/
/var/
/logs
/tests/selenium2/var/

# Mac OS X Ignores
.DS_Store
._*
.Spotlight-V100
.Trashes

# Subversion Ignores
.svn/

# Windows Ignores
Thumbs.db

Desktop.ini
$RECYCLE.BIN/

# vim Ignores
.*.sw[a-z]
*.un~
Session.vim

# phpStorm Ignores
.idea/
