<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false" syntaxCheck="true" bootstrap="framework/bootstrap.php">
    <testsuite name="Magento Full Test">
        <directory>ut</directory>
        <directory>integration</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory>../app/code/core/Xcom</directory>
            <exclude>
                <directory prefix="data-upgrade">../app/code/core/Xcom</directory>
                <directory prefix="mysql4-">../app/code/core/Xcom</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="../var/reports/logs/coverage.xml"/>
    </logging>
    <php>
        <!-- Settings for Fabric integration tests -->
        <env name="XCOM_TEST_SUBSCRIBER_USER_URL" value="http://testsub.magentosubscribertest.xcommerce.net/user/akusakin"/>
    </php>
</phpunit>
